.btn-outline-white-3 {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3); /* Modified: Changed the alpha value to 0.5 */
    background-image: none;
    border-color: #fff;
    box-shadow: none;

}

.btn-outline-white-3:hover,
.btn-outline-white-3:focus,
.btn-outline-white-3.focus,
.btn-outline-white-3:not(:disabled):not(.disabled):active,
.btn-outline-white-3:not(:disabled):not(.disabled).active,
.show > .btn-outline-white-3.dropdown-toggle {
    color: #333;
    background-color: #fff;
    border-color: #fff;
    box-shadow: none;
}

.btn-outline-white-3.disabled,
.btn-outline-white-3:disabled {
    color: #fff;
    background-color: transparent;
}


.banner-content-top-custom {
    top: 105px;
    left: 100px;
}

.volume-button-banner {
    background: transparent !important;
}

.volume-button-banner:hover {
    background: white !important;
}

.login-button {
    background: #FE5353 !important;
    border-color: #FE5353 !important;

}

.volume-button:hover {
    background: white !important;
    color: #FE5353 !important;
    border-color: #FE5353 !important;
}

.text-white {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 2);
}