.social-media-list a {
    color: #555;
    transition: color 0.3s;
}

.social-media-list a:hover {
    color: #d9534f; /* Change to your desired hover color */
}

.social-media-list i {
    margin-right: 8px;
}