.custom-button {
    background-color: #FE5353;
    color: #ffffff;
}

.custom-button:hover {
    background-color: #ff0000;
    color: #ffffff;
}

.logo-size {
    margin-right: 200px;
}


.header-main-nav {
    margin-left: 2.8rem;
    margin-right: 2.8rem;
}

input[type="radio"] {
    visibility: hidden;
}

label[for="author"] {
    cursor: pointer;
}


.fix_account.disabled {
    cursor: not-allowed; /* Changes cursor to indicate non-clickable */
    opacity: 0.6; /* Makes the element look disabled */
    pointer-events: none; /* Prevents any mouse interactions */
    color: #000; /* Ensures the color remains consistent */
}

/* Override hover effects for disabled elements, if necessary */
.fix_account.disabled:hover {
    color: #000; /* Maintains the same color on hover */
}

.cart-dropdown.disabled {
    cursor: not-allowed; /* Changes cursor to indicate non-clickable */
    opacity: 0.6; /* Makes the element look disabled */
    pointer-events: none; /* Prevents any mouse interactions */
    color: #000; /* Ensures the color remains consistent */

}

.cart-dropdown.disabled:hover {
    color: #000; /* Maintains the same color on hover */
}
