{% load product_tags %}
{% load humanize %}
<form
        hx-post="{% url 'product:view-product' pk=volume.id %}"
        hx-indicator="#main_nav"
        hx-select-oob="#dropdown_cart, #dropdown_cart_mobile"
        hx-select="#product_form"

>
    {% csrf_token %}
    <div class="row" id="product_singe_form">
        <div class="col-6">
            <div class="product-price force-rtl"
                 style="display: flex;margin-bottom: 1.6rem; align-items: center; flex-wrap: nowrap">
                <span style="margin-left: 0.5rem"> IQD</span>
                <input type="hidden" name="price" id="price_id" value="{{ volume.price.amount }}">
                <input type="text"
                       style="pointer-events: none;"
                       value="{{ volume.price.amount | arabic_intcomma }}">
            </div><!-- End .product-price -->
        </div>
    </div>

    <div class="row" id="product_singe_form">
        <div class="col-6">
            <div class="details-filter-row details-row-size arabic-font force-rtl">
                <label for="qty">الكمية : </label>
                <div class="product-details-quantity mr-2">
                    {% if volume.type == 'Inventory_Manga' %}
                        <input class="form-control qty" type="number" id="qty"
                               min="1" max="{{ volume.quantity }}" step="1" data-decimals="0"
                               name="quantity" value="1"
                        >
                    {% else %}
                        {{ form.quantity }}
                    {% endif %}
                    {#                    <input type="number" id="qty" class="form-control" value="1" min="1" max="10" step="1" data-decimals="0" required>#}
                </div><!-- End .product-details-quantity -->
            </div><!-- End .details-filter-row -->
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="details-filter-row details-row-size arabic-font force-rtl">
                <label for="lang">اللغة : </label>
                <div class="product-details-quantity mr-2 mt-3 mb-4" dir="ltr">
                    {% if volume.type == 'Inventory_Manga' %}
                        <input type="text" name="language" style="pointer-events: none;"
                               value="{{ volume.language }}"
                               class="form-control disabled" id="id_language">
                    {% else %}
                        {{ form.language }}
                    {% endif %}
                </div><!-- End .product-details-quantity -->
            </div><!-- End .details-filter-row -->
        </div>
    </div>
    <div class="product-details-action">
        <button type="submit" class="btn-product d-flex justify-content-center align-items-center">
            <span class="force-rtl arabic-font">اضف الى السلة</span>
            <i class="fa fa-shopping-cart mr-2 fa-xs cart" aria-hidden="true"></i>
        </button>
    </div>
</form>
