annotated-types==0.7.0
ansicon==1.89.0
asgiref==3.7.2
asttokens==2.2.1
attrs==23.1.0
autopep8==2.0.4
Babel==2.12.1
backcall==0.2.0
beautifulsoup4==4.12.2
blessed==1.20.0
boto3==1.35.71
botocore==1.35.71
build==0.10.0
certifi==2023.7.22
cffi==1.15.1
chardet==3.0.4
charset-normalizer==3.2.0
click==8.1.3
colorama==0.4.6
crispy-bootstrap4==2022.1
decorator==5.1.1
dill==0.3.7
Django==3.2.19
django-appconf==1.0.5
django-browser-reload==1.10.0
django-compressor==4.4
django-crispy-forms==2.0
django-currentuser==0.5.3
django-filter==23.2
django-htmx==1.16.0
django-money==3.2.0
django-ninja==1.3.0
django-phonenumber-field==7.1.0
django-ratelimit==4.1.0
django-rich==1.6.0
django-sass==1.1.0
django-silk==5.0.3
django-simple-menu==2.1.2.post1
django-storages==1.14.4
django-taggit==4.0.0
exceptiongroup==1.1.2
executing==1.2.0
fuzzywuzzy==0.18.0
googletrans==3.0.0
gprof2dot==2022.7.29
greenlet==3.1.1
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2023.1.1
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
inquirer==3.1.3
ipython==8.14.0
jedi==0.18.2
jinxed==1.2.0
jmespath==1.0.1
Levenshtein==0.21.1
libsass==0.22.0
loguru==0.7.2
lxml==4.9.3
markdown-it-py==3.0.0
matplotlib-inline==0.1.6
mdurl==0.1.2
multiprocess==0.70.15
numpy==1.25.2
outcome==1.2.0
packaging==23.1
pandas==2.0.3
parso==0.8.3
pathos==0.3.1
pexpect==4.9.0
phonenumbers==8.13.15
pickleshare==0.7.5
Pillow==9.5.0
pip-lock==2.10.0
pip-tools==6.13.0
pox==0.3.3
ppft==1.7.6.7
prompt-toolkit==3.0.38
psycopg2-binary==2.9.6
ptyprocess==0.7.0
pure-eval==0.2.2
py-moneyed==3.0
pycodestyle==2.11.0
pycparser==2.21
pydantic==2.10.2
pydantic_core==2.27.1
PyExecJS==1.5.1
Pygments==2.15.1
pyproject_hooks==1.0.0
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-editor==1.0.4
python-Levenshtein==0.21.1
pytz==2023.3
pyuseragents==1.0.5
rapidfuzz==3.2.0
rcssmin==1.1.1
readchar==4.0.5
requests==2.31.0
rfc3986==1.5.0
rich==13.4.2
rjsmin==1.2.1
s3transfer==0.10.4
safeIO==1.2
selenium==4.11.2
shortuuid==1.0.11
six==1.16.0
sniffio==1.3.0
sortedcontainers==2.4.0
soupsieve==2.4.1
SQLAlchemy==2.0.36
sqlparse==0.4.4
stack-data==0.6.2
tomli==2.0.1
tqdm==4.67.1
traitlets==5.9.0
translatepy==2.3
trio==0.22.2
trio-websocket==0.10.3
typing_extensions==4.12.2
tzdata==2023.3
urllib3==2.0.4
uuid==1.30
wcwidth==0.2.6
win32-setctime==1.1.0
wsproto==1.2.0
