{% include 'abstract/includes/upper/header.html' %}
{% load static %}
{% load humanize %}
<div class="header-middle">
                <div class="container">
                    <div class="header-left ">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>

                        <a href="#" hx-push-url="true" hx-swap="innerHTML" hx-target="#main" hx-get={% url 'home:index' %}>
                            <div class="ml-5">
                            <img src={% static "images/logo.png" %} width=110 height=30>
                            </div>
                        </a>
                    </div><!-- End .header-left -->

                    <div class="header-right">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search" ></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control arabic-font" name="q" id="q" placeholder="ابحث عن منتج ..." required>

                                    <div class="select-custom">
                                        <select id="cat" name="cat">
                                            <option value="">All Departments</option>
                                            <option value="1">Fashion</option>
                                            <option value="2">- Women</option>
                                            <option value="3">- Men</option>
                                            <option value="4">- Jewellery</option>
                                            <option value="5">- Kids Fashion</option>
                                            <option value="6">Electronics</option>
                                            <option value="7">- Smart TVs</option>
                                            <option value="8">- Cameras</option>
                                            <option value="9">- Games</option>
                                            <option value="10">Home &amp; Garden</option>
                                            <option value="11">Motors</option>
                                            <option value="12">- Cars and Trucks</option>
                                            <option value="15">- Boats</option>
                                            <option value="16">- Auto Tools &amp; Supplies</option>
                                        </select>
                                    </div><!-- End .select-custom -->


                                    <button class="btn custom-button" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                        
                        <div class="header-dropdown-link">
                            <div class="account">
                                <a href="dashboard.html" title="My account">
                                    <div class="icon">
                                        <i class="icon-user"></i>
                                    </div>
                                    <p class="arabic-font">الحساب</p>
                                </a>
                            </div><!-- End .compare-dropdown -->

                            <div class="wishlist">
                                <a href="wishlist.html" title="Wishlist">
                                    <div class="icon">
                                        <i class="bi-box-seam-fill"></i>
                                        <span class="wishlist-count badge">3</span>
                                    </div>
                                    <p class="arabic-font">الطلبات</p>
                                </a>
                            </div><!-- End .compare-dropdown -->

                            <div class="dropdown cart-dropdown pl-4" id="dropdown_cart" hx-swap-oob="true">
                                <a style="cursor: pointer"
                                           hx-get="{% url 'orders:cart' %}"
                                           hx-target="#main_nav"
                                           hx-push-url="true"
                                           hx-select="#main_nav"
                                           hx-indicator="#main_nav"
                                   class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                    <div class="icon">
                                        <i class="icon-shopping-cart"></i>
                                        <span class="cart-count">{{ total_count }}</span>
                                    </div>
                                    <p class="arabic-font">سلة المشتريات</p>
                                </a>

                                <div class="dropdown-menu dropdown-menu-right scrollbar-juicy-peach" style="max-height: 400px; overflow-y: auto;">
                                    <div class="dropdown-cart-products hx-disabled" >
                                        {% for order in orders %}
                                        <div class="product">
                                            <div class="row">
                                                <div class="col-4 p-0">
                                                <img src="{{ order.volume.image }}">
                                                </div>
                                                <div class="col-8" >
                                                <h4 class="product-title">
                                                    <a href="product.html">{{ order.volume.product}} {{ order.volume }}</a>
                                                </h4>

                                                <span class="cart-product-info arabic-font" dir="ltr">
                                                    <span class="cart-product-qty"> الكمية :{{ order.quantity }}</span>
                                                    <br>
                                                    IQD السعر :{{ order.price.amount|intcomma}}
                                                </span>
                                                </div>
                                            </div><!-- End .product-cart-details -->

                                            <figure class="product-image-container">
                                                <a href="product.html" class="product-image">
{#                                                    <img src="assets/images/products/cart/product-1.jpg" alt="product">#}
                                                </a>
                                            </figure>
                                            <a      style="cursor: pointer"
                                                    class="btn-remove"
                                                    title="Remove Product"
                                                    hx-get='{% url 'orders:delete_order' pk=order.id %}'
                                                    hx-swap='innerHTML'
                                                    hx-target="#dropdown_cart"
                                                    hx-select="#dropdown_cart"
                                                    hx-indicator="#dropdown_cart"><i class="icon-close"
                                            ></i></a>
                                        </div><!-- End .product -->
                                        {% endfor %}
                                    </div><!-- End .cart-product -->

                                    <div class="dropdown-cart-total">
                                        <span class="arabic-font">السعر الكلي</span>

                                        <span class="cart-total-price arabic-font">{{ total_price|intcomma|default:' لا توجد منتجات في السلة' }} {% if total_price %}IQD{% endif %}</span>
                                    </div><!-- End .dropdown-cart-total -->

                                    <div class="dropdown-cart-action">
                                        <a href="#" style="cursor: pointer"
                                           hx-get="{% url 'orders:cart' %}"
                                           hx-target="#main_nav"
                                           hx-push-url="true"
                                           hx-select="#main_nav"
                                           hx-indicator="#main_nav"
                                           class="btn btn-outline-primary-2 arabic-font">سلة المشتريات</a>
                                        <a href="#" style="cursor: pointer"
                                           hx-get="{% url 'orders:checkout' %}"
                                           hx-target="#main_nav"
                                           hx-push-url="true"
                                           hx-select="#main_nav"
                                           hx-indicator="#main_nav"
                                           class="btn btn-outline-primary-2 arabic-font"><span>الدفع</span><i class="icon-long-arrow-right"></i></a>
                                    </div><!-- End .dropdown-cart-total -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .cart-dropdown -->
                        </div>
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->