{% load static %}
<div class="icon-boxes-container bg-transparent" dir="rtl">
<div class="container">
    <div class="row d-lg-flex justify-content-lg-between">
        <div class="col-6 col-lg-3">
            <div class="icon-box icon-box-side">
                <span class="ml-4 mr-2 " style="font-size: 3rem">
                    <i class="icon-truck icon-opacity"></i>
                </span>
                <div class="icon-box-content">
                    <h3 class="icon-box-title arabic-font force-rtl mb-1">توصيل مجاني</h3><!-- End .icon-box-title -->
                    <p class="arabic-font force-rtl">توصيل مجاني للطلبات بقيمة 50 الف او اكثر</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-sm-6 col-lg-3 -->

        <div class="col-6 col-lg-3">
            <div class="icon-box icon-box-side">
                <span class="ml-4 mr-2 " style="font-size: 3rem">
                    <i class="icon-rotate-left icon-opacity"></i>
                </span>

                <div class="icon-box-content">
                    <h3 class="icon-box-title arabic-font force-rtl mb-1">استبدال المنتج</h3><!-- End .icon-box-title -->
                    <p class="arabic-font force-rtl">استبدال المنتج بالكامل في حال وجود اي خلل</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-sm-6 col-lg-3 -->
        <div class="col-6 col-lg-3">
            <div class="icon-box icon-box-side">
                <span class="ml-4 mr-2 " style="font-size: 3rem">
                    <i class="bi-check-circle icon-opacity"></i>
                </span>

                <div class="icon-box-content">
                    <h3 class="icon-box-title arabic-font force-rtl mb-1">تحسين مستمر</h3><!-- End .icon-box-title -->
                    <p class="arabic-font force-rtl">نسمع ارائكم دائما لتحسين منتجاتنا</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-sm-6 col-lg-3 -->

        <div class="col-6 col-lg-3">
            <div class="icon-box icon-box-side">
                <span class="ml-4 mr-2 " style="font-size: 3rem">
                    <i class="bi-book icon-opacity"></i>
                </span>

                <div class="icon-box-content">
                    <h3 class="icon-box-title arabic-font force-rtl mb-1">منتجات عديدة</h3><!-- End .icon-box-title -->
                    <p class="arabic-font force-rtl">نوفر عناويين مختلفة ومنوعة</p>
                </div><!-- End .icon-box-content -->
            </div><!-- End .icon-box -->
        </div><!-- End .col-sm-6 col-lg-3 -->
    </div><!-- End .row -->
</div><!-- End .container -->
</div><!-- End .icon-boxes-container -->
</div><!-- End .intro-section -->