{% load static %}
<div class="bestseller-products bg-light pt-5 pb-5 mb-5 mt-5">
    <div class="block">
        <div class="block-wrapper ">
            <div class="container">
                <div class="heading heading-flex" dir="rtl">
                    <div class="heading-left mr-3">
                        <h2 class="title arabic-font">الافضل مبيعاً</h2><!-- End .title -->
                    </div><!-- End .heading-left -->
                </div><!-- End .header-flex -->

                <div id="myCarousel" class="owl-carousel owl-simple carousel-with-shadow" data-toggle="owl" dir="ltr"
                     data-owl-options='{
                            "nav": true,
                            "dots": true,
                            "loop": true,
                            "responsive": {
                                "0": {
                                    "items":1.5
                                },
                                "480": {
                                    "items":2
                                },
                                "768": {
                                    "items":3
                                },
                                "992": {
                                    "items":4
                                },
                                "1200": {
                                    "items":4,
                                    "nav": true,
                                    "dots": true
                                }
                            }
                        }'>
                    {% for volume in best_sellers %}
                        <div style="margin: 0 5px; box-sizing: border-box;">
                            {% include 'abstract/product/product_list/product_view.html' with volume=volume form=form %}
                        </div>
                    {% endfor %}
                </div><!-- End .owl-carousel -->
            </div><!-- End .container -->
        </div><!-- End .block-wrapper -->
    </div><!-- End .block -->
</div><!-- End .bg-light pt-4 pb-4 -->
