{% load static %}

<footer class="footer footer-2" dir="rtl">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <!-- About Section -->
                <div class="col-sm-12 col-lg-6 col-xl-5">
                    <div class="widget widget-about">
                        <img src="{% static 'images/logo.png' %}" class="footer-logo" alt="Footer Logo" width="105"
                             height="25">
                        <p class="force-rtl arabic-font">
                            مانجا ستور هو متجر متخصص في بيع المانجات والمانهوات والكوميك، حيث يمتلك خبرة تزيد عن سبع
                            سنوات في مجال طباعة المنتجات.
                            نحن نتميز بجودة منتجاتنا العالية وأسعارنا المناسبة التي تناسب جميع الميزانيات. كما نولي
                            اهتمامًا كبيرًا بتلبية احتياجات الزبائن
                            ونسعى دائمًا للتواصل معهم بشكل فعّال لضمان تحقيق رضاهم التام. نعمل باستمرار على تطوير
                            خدماتنا ومنتجاتنا لنقدم لكم الأفضل
                            في عالم المانجا والكوميك.
                        </p>

                        <div class="widget-about-info">
                            <div class="row justify-content-start">
                                <div class="col-sm-6 col-md-5">
                                    <span class="widget-about-title force-rtl arabic-font">تواصل معنا عبر الواتس اب</span>
                                    <a href="https://api.whatsapp.com/send?phone=9647759808005">+964 7759808005</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Links and Social Media Section -->
                <div class="col-lg-6 col-xl-7">
                    <div class="row">
                        <!-- Organization Links -->
                        <div class="col-sm-4">
                            <div class="widget">
                                <h4 class="widget-title force-rtl arabic-font">حول مانجا ستور</h4>
                                <ul class="widget-list force-rtl arabic-font">
                                    <li><a href="{% url 'home:quality_rep' %}">نبذة عنا</a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="widget" id="account-widget">
                                <h4 class="widget-title force-rtl arabic-font">الحساب</h4>
                                <ul class="widget-list force-rtl arabic-font">
                                    {% if not user.is_authenticated %}
                                        <li><a
                                                href="#"
                                                hx-get="{% url 'auth:login' %}"
                                                hx-target="#main_nav"
                                                hx-push-url="true"
                                                hx-select="#main_nav"
                                                hx-indicator="#main_nav"
                                                style="cursor: pointer"
                                        >تسجيل دخول</a>

                                        </li>
                                        <li><a
                                                href="#"
                                                hx-get="{% url 'auth:login' %}"
                                                hx-target="#main_nav"
                                                hx-push-url="true"
                                                hx-select="#main_nav"
                                                hx-indicator="#main_nav"
                                        >إنشاء حساب</a></li>
                                    {% else %}
                                        <li><a hx-get="{% url 'auth:logout' %}"
                                               hx-target="#main_nav"
                                               hx-push-url="true"
                                               hx-select="#main_nav"
                                               hx-indicator="#main_nav"
                                               style="cursor: pointer"
                                               hx-select-oob="#account_header, #account-widget"

                                        >تسجيل خروج</a></li>
                                    {% endif %}
                                    <li><a href="{% url 'orders:cart' %}">سلة المشتريات</a></li>
                                    <li><a href="{% url 'orders:view_orders' %}">الطلبات</a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Social Media Section -->
                        <div class="col-sm-4">
                            <div class="widget">
                                <h4 class="widget-title">تابعنا</h4>
                                <ul class="widget-list social-media-list arabic-font">
                                    <li dir="ltr">
                                        <a href="https://www.facebook.com/TheMangaStore/" target="_blank"
                                           aria-label="Facebook">
                                            <i class="fab fa-facebook-f"></i> فيسبوك
                                        </a>
                                    </li>
                                    <li dir="ltr">
                                        <a href="https://www.instagram.com/manga_store1" target="_blank"
                                           aria-label="Instagram">
                                            <i class="fab fa-instagram"></i> إنستجرام
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End .footer-middle -->

    <div class="footer-bottom">
        <div class="container">
            <p class="footer-copyright force-rtl arabic-font">
                © 2017 مانجا ستور. جميع الحقوق محفوظة.
            </p>
        </div><!-- End .container -->
    </div><!-- End .footer-bottom -->
</footer><!-- End .footer -->