{% load static %}
{% load simple_menu %}

<header class="header header-12">
    <div>
    {% include 'abstract/includes/lower_header.html' %}<!-- End .header-middle -->
</div>
    <div class="header-bottom sticky-header">
        <!-- <div class="container"> -->
        <div style="background-color: #333; display: flex; width: 100%;">
    <div class="header-left">
                            <div class="dropdown category-dropdown">
                                <a href="#" class="dropdown-toggle arabic-font" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static" title="Browse Categories">
                                    اشهر المانغاكا
                                </a>

                                <div class="dropdown-menu">
                                    <nav class="side-nav">
                                        <ul class="menu-vertical sf-arrows">
                                            <li class="item-lead"><a href="#">Best Books of 2018</a></li>
                                            <li class="item-lead"><a href="#">New for 2019</a></li>
                                            <li><a href="#">Art & Photography</a></li>
                                            <li><a href="#">Biography</a></li>
                                            <li><a href="#">Children's Books</a></li>
                                            <li><a href="#">Crafts & Hobbies</a></li>
                                            <li><a href="#">Fiction</a></li>
                                            <li><a href="#">Food & Drink</a></li>
                                            <li><a href="#">Graphic Novels, Anime & Manga</a></li>
                                            <li><a href="#">Health & Fitness Books</a></li>
                                            <li><a href="#">Young Adult</a></li>
                                        </ul><!-- End .menu-vertical -->
                                    </nav><!-- End .side-nav -->
                                </div><!-- End .dropdown-menu -->
                            </div><!-- End .category-dropdown -->
                        </div><!-- End .header-left -->
         <div class="header-center">
                            <script>
                                menu_num={{ menu_num }}
                            </script>
                            <nav class="main-nav" x-data="{nav_bar : menu_num, $debug: true }">
                                {% generate_menu %}

                                <ul class="menu">
                                    {% for item in menus.onesight %}
                                    <li id="head_icon{{ item.num }}" name="page_header_icons" x-bind:class="{'active' : get_num() == nav_bar }">
                                        <a id="a{{ item.num }}"
                                           {% if item.children %} class="sf-with-ul arabic-font" {% else %}
                                            class="arabic-font" {% endif %}
                                           x-on:click="nav_bar=$event.target.id.charAt($event.target.id.length -1);"
                                           hx-swap="innerHTML"
                                           hx-target="#main"
                                           hx-push-url="true"
                                           hx-get="{{ item.url }}"
                                        >{{ item.title }}</a>
                                        {% if item.children %}
                                        <div class="megamenu megamenu-md">
                                        <div class="row no-gutters">
                                            <div class="col-md-8">
                                                <div class="menu-col">
                                                    <div class="row">
                                                        {% for column in item.columns %}
                                                        <div class="col-md-6">
                                                            {% if column == 1 %}
                                                            <div class="menu-title arabic-font force-rtl font-weight-bold">التصنيف حسب الجهه العمرية</div><!-- End .menu-title -->
                                                            {% else %}
                                                            <div class="menu-title arabic-font force-rtl font-weight-bold">التصنيف حسب النوع</div><!-- End .menu-title -->
                                                            {% endif %}
                                                            <ul>
                                                                 {% for child in item.children %}
                                                                     {% if child.column == column %}
                                                                <li><a class="arabic-font force-rtl" href={{ child.url }}>{{ child.title}}</a></li>
                                                                        {% endif %}
                                                                {% endfor %}
                                                            </ul>
                                                        </div><!-- End .col-md-6 -->
                                                        {% endfor %}
                                                    </div><!-- End .row -->
                                                </div><!-- End .menu-col -->
                                            </div><!-- End .col-md-8 -->

                                            <div class="col-md-4">
                                                <div class="banner banner-overlay">
                                                    <a class="banner banner-menu">
                                                        <img src={% static "images/menu/banner-1.jpg" %} alt="Banner">

                                                        <div class="banner-content banner-content-top-custom force-rtl" dir="rtl">
                                                            <div class="banner-title text-white arabic-font force-rtl">استمتع <br>بالمغامرة<br><span><strong>الجديدة</strong></span></div><!-- End .banner-title -->
                                                        </div><!-- End .banner-content -->
                                                    </a>
                                                </div><!-- End .banner banner-overlay -->
                                            </div><!-- End .col-md-4 -->
                                        </div><!-- End .row -->
                                    </div><!-- End .megamenu megamenu-md -->
                                    </li>
                                    {% endif %}
                                    {% endfor %}

                                </ul><!-- End .menu -->
                            </nav><!-- End .main-nav -->
                        </div>

             <div class="header-right">
                            <i class="{{ nav_ad.icon }} ml-5"></i><p class="arabic-font">{{ nav_ad.char }}</p>
                        </div><!-- End .header-right -->

    </div><!-- End .header-bottom -->
</header><!-- End .header -->
