{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src={% static "js/nouislider.min.js" %}></script>
<script src={% static "js/wNumb.js" %}></script>
<script src={% static "js/bootstrap-input-spinner.js" %}></script>
<script src="{% static 'js/main.js' %}"></script>
<script src="{% static 'js/demos/demo-20.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>

<!-- Main JS File -->
{#<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>#}
{#<script defer src="https://cdn.jsdelivr.net/npm/@alpinejs/collapse@3.x.x/dist/cdn.min.js"></script>#}
{#<script src="https://cdn.jsdelivr.net/npm/alpinejs@2.x.x/dist/alpine.js"></script>#}
<script src="{% static 'js/alpine.js' %}"></script>
<script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
{#<script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>#}
<script src="{% static 'js/htmx.min.js' %}"></script>
{#<script src="https://unpkg.com/htmx.org@1.9.4"></script>#}
<script src="{% static 'toasts.js' %}"></script>
<script src="{% static 'js/sweetalert.js' %}"></script>
{#<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>#}
{#<script src="https://unpkg.com/hyperscript.org@0.9.11"></script>#}
<script src="{% static 'js/font_awesome/js/all.min.js' %}" data-auto-replace-svg="false"></script>
{#<script src="https://kit.fontawesome.com/00f67b7830.js" crossorigin="anonymous"></script>#}

<!-- Custom js -->
<script src="{% static 'js/custom_js/install.js' %}"></script>

<script>
    function carousel() {
        return {
            active: 0,
            init() {
                var flkty = new Flickity(this.$refs.carousel, {
                    wrapAround: true
                });
                flkty.on('change', i => this.active = i);
            }
        }
    }

    function carouselFilter() {
        return {
            active: 0,
            changeActive(i) {
                this.active = i;

                this.$nextTick(() => {
                    let flkty = Flickity.data(this.$el.querySelectorAll('.carousel')[i]);
                    flkty.resize();
                });
            }
        }
    }

    document.body.addEventListener('htmx:beforeSwap', function (event) {
        return {
            active: 0,
            changeActive(i) {
                this.active = i;

                this.$nextTick(() => {
                    let flkty = Flickity.data(this.$el.querySelectorAll('.carousel')[i]);
                    flkty.resize();
                });
            }
        }
    })

</script>
<script>
    document.body.addEventListener('htmx:afterOnLoad', function (event) {
        setTimeout(function () {
            var carouselElements = document.querySelectorAll('.carousel');
            carouselElements.forEach(function (element) {
                var flkty = Flickity.data(element);
                if (flkty) {
                    flkty.reloadCells();
                    flkty.resize();
                    flkty.updateDraggable();
                } else {
                    flkty = new Flickity(element, {wrapAround: true});
                    flkty.on('change', function (index) {
                        xData.carouselFilter.active = index;
                    });
                }
            });
        }, 100);
    });

</script>
<script>
    $(document).on('htmx:afterSettle', function (event) {
        $('.input-spinner').remove();

        $('.qty').each(function () {
            $(this).inputSpinner(
                {
                    decrementButton: '<i class="icon-minus"></i>',
                    incrementButton: '<i class="icon-plus"></i>',
                    groupClass: 'input-spinner',
                    buttonsClass: 'btn-spinner',
                    buttonsWidth: '26px'
                }
            );
        });
    });
    $(window).on("popstate", function () {
        $(document).ready(function () {
            $(".input-spinner").remove(); // or $(".input-spinner").hide();
            location.reload(true);

        });
    });
</script>

<script>
    // Store the Owl Carousel configuration in a variable
    var owlCarouselOptions = {
        // Add your carousel options here
        nav: true,
        dots: true,
        loop: true,
        {#autoWidth: true,#}
        responsive: {
            0: {
                items: 1.5
            },
            480: {
                items: 2
            },
            768: {
                items: 4
            },
            992: {
                items: 4
            },
            1200: {
                items: 4,
                nav: true,
                dots: true
            }
        }
    };
    var owlCarouselOptions2 = {
        // Add your carousel options here
        nav: false,
        dots: true,
        loop: false,
        responsive: {
            0: {
                items: 2
            },
            480: {
                items: 2
            },
            768: {
                items: 3
            },
            992: {
                items: 3
            },
            1200: {
                items: 3,
                nav: true,
                dots: false
            }
        }
    };
    var owlCarouselOptionsSide = {
        // Add your carousel options here
        nav: false,
        dots: true,
        margin: 10,
        autoplay: true,
        loop: true,
        autoplayTimeout: 5000,
        autoplayHoverPause: true,
        responsive: {
            0: {
                items: 1
            },
            480: {
                items: 1
            },
            768: {
                items: 1
            },
            992: {
                items: 1
            },
            1200: {
                items: 1,
            }
        }

    };
    // Initialize Owl Carousel on page load
    $(document).ready(function () {
        initOwlCarousel();
    });

    // Reinitialize Owl Carousel on htmx afterSwap event
    $(document).on('htmx:afterSettle', function (event) {
        setTimeout(function () {
            initOwlCarousel();
        }, 0);
    });

    // Function to initialize or reinitialize Owl Carousel
    function initOwlCarousel() {
        $('.owl-carousel').each(function () {
            var $carouselContainer = $(this);
            // Check if the carousel is already initialized
            if (typeof $carouselContainer.data('owl.carousel') === 'undefined') {
                // Initialize the carousel with the stored configuration
                if (this.id === 'myCarousel') {
                    $carouselContainer.owlCarousel(owlCarouselOptions);
                } else if (this.id === 'CarouselLatest') {
                    $carouselContainer.owlCarousel(owlCarouselOptions);
                } else if (this.id === 'CarouselSideLatest') {
                    $carouselContainer.owlCarousel(owlCarouselOptionsSide);
                }

                // Update Owl Carousel's internal settings to reflect the newly initialized state
                $carouselContainer.trigger('refresh.owl.carousel');
            }
        });
    }
</script>

<script>
    function clearAuthorSelection() {
        $('input[name=author]').prop('checked', false);

    }
</script>

<script>
    // For confirming button on the checkout page using SweetAlert2
    for (eve of ['htmx:afterSwap', 'DOMContentLoaded']) {

        document.addEventListener(eve, function () {
            if (document.getElementById('confirmLink')) {
                document.getElementById('confirmLink').addEventListener('click', function (event) {
                    event.preventDefault();

                    Swal.fire({
                        title: 'تأكيد',
                        text: 'هل تريد تثبيت طلبك؟',
                        icon: 'warning',
                        showCancelButton: true,
                        confirmButtonText: 'نعم, ثبت الطلب',
                        confirmButtonColor: '#FE5656',
                        cancelButtonText: 'لا',
                        customClass: 'arabic-font p-2 h6'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            document.getElementById('ConfirmForm').submit();
                        }
                    });
                });
            }
        });
    }
</script>


<script>
    for (eve of ['htmx:afterSwap', 'DOMContentLoaded']) {

        document.addEventListener(eve, function () {
            for (i of [1, 2, 3]) {
                const togglePassword = document.querySelector(`#password${i}Button`);
                const password = document.querySelector(`#id_password${i}`);
                if (togglePassword) {
                    togglePassword.addEventListener('click', function (e) {

                        const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
                        password.setAttribute('type', type);
                        console.log(this.firstChild.classList)
                        if (this.firstChild.classList.contains('fa-eye-slash')) {
                            this.firstChild.classList.remove('fa-eye-slash')
                            this.firstChild.classList.add('fa-eye');
                        } else {
                            this.firstChild.classList.remove('fa-eye');
                            this.firstChild.classList.add('fa-eye-slash');
                        }
                    });
                }
            }
        });
    }
</script>

<script>
    // Function to handle validation logic
    function setupPasswordValidation() {
        // Select the primary password and confirmation password fields
        const password1 = document.querySelector('#id_password1');
        const password2 = document.querySelector('#id_password2');

        if (password1) {
            // Add input event listener for the primary password field
            password1.addEventListener('input', function () {
                validatePassword1();
                // Also validate confirmation password in case it was already filled
                if (password2.value.length > 0) {
                    validatePassword2();
                }
            });
        }

        if (password2) {
            // Add input event listener for the confirmation password field
            password2.addEventListener('input', validatePassword2);
        }

        // Function to validate the primary password
        function validatePassword1() {
            const messageContainer = getErrorElement(password1);
            const passwordLength = password1.value.length;
            let message = '';

            if (passwordLength < 8) {
                message = 'لابد ان يكون الرمز السري عل اقل 8 احرف.';
            }
            if (message) {
                displayError(password1, message);
            } else {
                removeError(password1);
            }
        }

        // Function to validate the confirmation password
        function validatePassword2() {
            const messageContainer = getErrorElement(password2);
            let message = '';

            if (password2.value !== password1.value && password2.value.length !== 0) {
                message = 'الرمز السري لا يتطابق.';
            }

            if (message) {
                displayError(password2, message);
            } else {
                removeError(password2);
            }
        }

        // Utility function to create or retrieve the error message element
        function getErrorElement(input) {
            const parent = input.parentElement;
            let errorElem = parent.querySelector('.invalid-feedback');

            if (!errorElem) {
                errorElem = document.createElement('div');
                errorElem.className = 'invalid-feedback';
                parent.appendChild(errorElem);
            }

            return errorElem;
        }

        // Utility function to display error messages
        function displayError(input, message) {
            const errorElem = getErrorElement(input);
            errorElem.innerText = message;
            input.classList.add('is-invalid');
            input.classList.remove('is-valid');
        }

        // Utility function to remove error messages
        function removeError(input) {
            const parent = input.parentElement;
            const errorElem = parent.querySelector('.invalid-feedback');

            if (errorElem) {
                errorElem.remove();
            }

            input.classList.remove('is-invalid');
            input.classList.add('is-valid');
        }
    }

    // Attach the validation setup to both 'DOMContentLoaded' and 'htmx:afterSwap' events
    ['htmx:afterSwap', 'DOMContentLoaded'].forEach(function (eventName) {
        document.addEventListener(eventName, setupPasswordValidation);
    });
</script>


<script>

    function scrollToTop() {
        const scrollPosition = window.scrollY || document.documentElement.scrollTop;
        if (scrollPosition > 100) { // Adjust the threshold as needed
            window.scrollTo({top: 0, behavior: 'smooth'});
        }
    }

</script>