{% load static %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" async></script>
<script src="{% static 'js/jquery.hoverIntent.min.js' %}" defer></script>
<script src="{% static 'js/jquery.waypoints.min.js' %}" defer></script>
<script src="{% static 'js/superfish.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src={% static "js/nouislider.min.js" %}></script>
<script src={% static "js/wNumb.min.js" %}></script>
<script src='{% static "js/bootstrap-input-spinner.min.js" %}' defer></script>
<script src="{% static 'js/main.min.js' %}"></script>
<script src="{% static 'js/demos/demo-20.js' %}"></script>
<script src="{% static 'js/owl.carousel.min.js' %}" defer></script>

<!-- Main JS File -->
<script src="{% static 'js/alpine.min.js' %}"></script>
<script src="{% static 'js/flickity.pkgd.min.js' %}" defer></script>
<script src="{% static 'js/htmx.min.js' %}"></script>
<script src="{% static 'js/sweetalert.min.js' %}"></script>
<script src="{% static 'js/font_awesome/js/all.min.js' %}" data-auto-replace-svg="false"></script>
<!-- Custom js -->
<script src="{% static 'js/custom_js/install.js' %}"></script>
<script src="{% static 'toasts.js' %}"></script>
<script src="{% static 'js/custom_js/flickity-init.min.js' %}"></script>
<script src="{% static 'js/custom_js/owl-carousel-config.min.js' %}"></script>
<script src="{% static 'js/custom_js/input-spinner.min.js' %}"></script>
<script src="{% static 'js/custom_js/clear-author.min.js' %}"></script>
<script src="{% static 'js/custom_js/confirm-button.min.js' %}"></script>
<script src="{% static 'js/custom_js/password-toggle.min.js' %}"></script>
<script src="{% static 'js/custom_js/password-validation.min.js' %}"></script>
<script src="{% static 'js/custom_js/scroll-to-top.min.js' %}"></script>

{# Meta pixel functions #}
<script src="{% static 'js/facebook_pixel/utils.min.js' %}"></script>
<script src="{% static 'js/facebook_pixel/actions.min.js' %}"></script>
{% if messages %}
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const messagesData = [
                {% for message in messages %}
                    {message: "{{ message|escapejs }}", tags: "{{ message.tags }}"},
                {% endfor %}
            ];
            htmx.trigger(document.body, "messages", {value: messagesData});
        });
    </script>
{% endif %}