{% extends 'abstract/_base.html' %}
{#{% extends request.htmx|yesno:"abstract/empty.html,abstract/_base.html" %}#}

{% load static %}
{% load product_tags %}
{% block content %}
    <style>
        .banner-css {
            background-color: #e5e5f7;
            opacity: 0.8;
            background-image: radial-gradient(circle at center center, #a00000, #e5e5f7), repeating-radial-gradient(circle at center center, #a00000, #a00000, 10px, transparent 20px, transparent 10px);
            background-blend-mode: multiply;
        }
    </style>
    <main class="main" id="main_nav_products">
        <div class="container mb-5 banner-css"
             style="position: relative; width: 100%; height: 13rem; align-content: center;">
            <h1 class="page-title arabic-font stroke-text force-center">{{ title }}
            </h1>
        </div>
        <div class="page-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="toolbox">
                            <div class="toolbox-left" id="author_card">
                                <div class="toolbox-info">
                                    {% if author %}
                                        <div>
                                            <div class="px-2">
                                                <p class="text-xl inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2"> {{ author }}
                                                    <button type="button" class="close" data-dismiss="alert"
                                                            hx-get="{% url 'product:list-products' %}"
                                                            hx-swap="innerHTML"
                                                            hx-target="#main_nav"
                                                            hx-select="#main_nav"
                                                            hx-indicator="#main_nav"
                                                            hx-on:click="clearAuthorSelection()"
                                                    >
                                                        &times;
                                                    </button>
                                                </p>
                                            </div>
                                        </div>
                                    {% endif %}
                                </div><!-- End .toolbox-info -->
                            </div><!-- End .toolbox-left -->

                            <div class="toolbox-right">
                                <div class="toolbox-layout toolbox-sort arabic-font select-custom-custom">
                                    <form style="display: flex inline;">
                                        <input
                                                dir="rtl"
                                                class="form-control bg-white force-rtl input-custom included"
                                                placeholder="ابحث عن منتج .."
                                                hx-get=?{% query_transform %}"
                                                hx-swap="innerHTML"
                                                hx-target="#product_with_pag"
                                                hx-select="#product_with_pag"
                                                hx-trigger="keyup changed delay:500ms"
                                                hx-indicator="#products_page"
                                                hx-include=".included"
                                                name="q"
                                                type="text"
                                                value="{{ request.GET.q }}"
                                        >
                                        <label class="mx-2 arabic-font custom-label" for="search_product">:البحث</label>
                                    </form>
                                </div><!-- End .toolbox-layout -->
                                <div class="toolbox-sort mx-1" dir="rtl">
                                    <label class="ml-1 arabic-font" for="sortby">افرز بواسطة:</label>
                                    <div class="select-custom">
                                        <select id="sortby" class="form-control arabic-font mr-2 included"
                                                hx-get=?{% query_transform %}"
                                                hx-swap="innerHTML"
                                                hx-target="#product_with_pag"
                                                hx-select="#product_with_pag"
                                                hx-trigger="change delay:500ms"
                                                hx-indicator="#products_page"
                                                hx-include=".included"
                                                name="sortby">
                                            <option value="" selected="selected">بدون</option>
                                            <option value="-product__score">الاعلى تقييماً</option>
                                            <option value="product__score">الاقل تقييماً</option>
                                            {#												<option value="HS">الاعلى مبيعاً</option>#}
                                            #TODO
                                            <option value="?">عشوائي</option>
                                        </select>
                                    </div>
                                </div><!-- End .toolbox-sort -->
                            </div><!-- End .toolbox-right -->
                        </div><!-- End .toolbox -->
                        {% include 'abstract/product/product_list/product_list_pag.html' %}
                    </div><!-- End .col-lg-9 -->
                    <aside class="col-lg-3 order-lg-first">
                        <div class="sidebar sidebar-shop">
                            <div class="widget widget-clean">
                                <h3 class="arabic-font force-rtl" style="margin-left: 200px">التصفية</h3>
                            </div><!-- End .widget widget-clean -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a class="force-rtl arabic-font" data-toggle="collapse" href="#widget-1"
                                       role="button" aria-expanded="true" aria-controls="widget-1"
                                       style="padding-right: 35px">
                                        الفئة العمرية
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-1">
                                    <div class="widget-body">
                                        <div class="">
                                            <div class="container force-rtl">
                                                {% for demo,key in demographics.items %}
                                                    <div class="row mr-4"
                                                         style="display: flex; justify-content: flex-end; align-items: center;">
                                                        <div class="col-5" style="">
                                                            <div class="form-check" style="display: inline-flex;">
                                                                <label for="cat-1{{ demo }}"
                                                                       class="form-check-label arabic-font mr-2">{{ demo }}</label>
                                                                <input type="checkbox" class="checkbox included"
                                                                       id="cat-1{{ demo }}"
                                                                       hx-get=?{% query_transform %}"
                                                                       hx-swap="innerHTML"
                                                                       hx-target="#product_with_pag"
                                                                       hx-select="#product_with_pag"
                                                                       hx-trigger="change delay:500ms"
                                                                       hx-indicator="#products_page"
                                                                       hx-include=".included"
                                                                       name="demo"
                                                                       value="{{ demo }}"
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a class="force-rtl arabic-font" data-toggle="collapse" href="#widget-3"
                                       role="button" aria-expanded="true" aria-controls="widget-3"
                                       style="padding-right: 35px">
                                        التصنيف
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-3">
                                    <div class="widget-body">
                                        <div class="">
                                            <div class="container force-rtl">
                                                {% for genre,key in genres.items %}
                                                    <div class="row mr-4"
                                                         style="display: flex; justify-content: flex-end; align-items: center;">
                                                        <div class="col-9" style="">
                                                            <div class="form-check" style="display: inline-flex;">
                                                                <label for="cat-3{{ genre }}"
                                                                       class="form-check-label arabic-font mr-2">{{ genre }}</label>
                                                                <input type="checkbox" class="checkbox included"
                                                                       id="cat-3{{ genre }}"
                                                                       hx-get=?{% query_transform %}"
                                                                       hx-swap="innerHTML"
                                                                       hx-target="#product_with_pag"
                                                                       hx-select="#product_with_pag"
                                                                       hx-trigger="change delay:500ms"
                                                                       hx-indicator="#products_page"
                                                                       hx-include=".included"
                                                                       name="genre"
                                                                       value="{{ genre }}"
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->

                            <div class="widget widget-collapsible">
                                <h3 class="widget-title">
                                    <a class="force-rtl arabic-font" data-toggle="collapse" href="#widget-2"
                                       role="button" aria-expanded="true" aria-controls="widget-2"
                                       style="padding-right: 35px">
                                        المواضيع
                                    </a>
                                </h3><!-- End .widget-title -->

                                <div class="collapse show" id="widget-2">
                                    <div class="widget-body">
                                        <div class="">
                                            <div class="container force-rtl">
                                                {% for theme,key in themes.items %}
                                                    <div class="row mr-4"
                                                         style="display: flex; justify-content: flex-end; align-items: center;">
                                                        <div class="col-9" style="">
                                                            <div class="form-check" style="display: inline-flex;">
                                                                <label for="cat-2{{ theme }}"
                                                                       class="form-check-label arabic-font mr-2">{{ theme }}</label>
                                                                <input type="checkbox" class="checkbox included"
                                                                       id="cat-2{{ theme }}"
                                                                       hx-get=?{% query_transform %}"
                                                                       hx-swap="innerHTML"
                                                                       hx-target="#product_with_pag"
                                                                       hx-select="#product_with_pag"
                                                                       hx-trigger="change delay:500ms"
                                                                       hx-indicator="#products_page"
                                                                       hx-include=".included"
                                                                       name="theme"
                                                                       value="{{ theme }}"
                                                                >
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div><!-- End .filter-items -->
                                    </div><!-- End .widget-body -->
                                </div><!-- End .collapse -->
                            </div><!-- End .widget -->
                        </div><!-- End .sidebar sidebar-shop -->
                    </aside><!-- End .col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->
{% endblock %}