{% load product_tags %}
{% load humanize %}

<div id="product_view_dev">
    <form
            hx-post="{% url 'product:list-products' %}"
            hx-indicator="#ht-spp"
            hx-vars="{'pk': {{ volume.id }}}"
            hx-select="#product_view_dev"
            hx-select-oob="#dropdown_cart, #dropdown_cart_mobile"
            hx-swap="afterbegin"
            style="height: 100%"
    >
        {% csrf_token %}
        <div class="hx-disabled product product-7 text-center" id="ht-spp">
            <figure class="product-media2">
                <a style="cursor: pointer"
                   hx-get={% url 'product:view-product' pk=volume.id %}
                           hx-target="#main_nav"
                   hx-push-url="true"
                   hx-swap="innerHTML"
                   hx-select="#main_nav"
                   hx-trigger="click"
                   hx-select-oob="#main_nav" {# Same as hx select becase this attribute is inhertied from the form
                                                and it causing problems when clicking on the product pasge#}
                   hx-indicator="#ht-spp, #pagination_pointers, #pagination_pre, #pagination_next"
                   hx-on::after-request="$(window).scrollTop(0);"
                   hx-on:click="clearAuthorSelection();"

                >
                    <img src=
                                 {{ volume.thumbnail.url }}
                                 alt="Product"
                         class="product-image"
                         loading="lazy"
                         style="{% if volume.type == 'Package' %}
                             {#height: 300px;#}
                             {#width: 300px;#}
                             aspect-ratio: 4/5;
                             object-fit: fill;
                             max-width: fit-content{% else %}
                             aspect-ratio: 9/13;
                             {#height: 30rem;#}
                             object-fit: cover;
                         {% endif %}">
                </a>


                <div class="product-action2">
                    <button class="btn-product d-flex justify-content-center align-items-center"
                            style="border: transparent; border-bottom: 1px solid white; cursor: pointer;">
                        <i class="fa fa-shopping-cart mr-2 fa-xs" style="size: 10px" aria-hidden="true"></i>
                        <span class="force-rtl arabic-font"
                        >اضف الى السلة</span>
                    </button>
                </div> <!-- End .product-action -->
            </figure><!-- End .product-media -->

            <div class="product-body">
                <div style="height: 70px; overflow: auto">
                    <h1 class="product-title scrollbar-juicy-peach" style="; overflow: auto;"><a
                            style="font-size: 1.6rem">
                        {% if volume.type == 'Package' %}
                            {{ volume.product.name }} - {{ volume.package_name }}
                        {% else %}
                            {{ volume.product.name }} - Volume {{ volume.volume_number }}
                        {% endif %}</a>
                    </h1><!-- End .product-title -->
                </div>
                {% if volume.type == 'Package' %}
                    <h2 class="product-title fxs-1 arabic-font" style="direction: rtl;"
                    ><a class="arabic-font" style="font-size: 1.2rem"
                    >عدد المجلدات : {{ volume.volume_count }}</a></h2>
                {% endif %}
                <div class="scrollbar-juicy-peach" style="height: 45px; overflow: auto;">
                    {% for author,key in volume.product.author.items %}
                        <h2 class="product-title fxs-1 arabic-font" style="direction: rtl;"
                        ><a class="arabic-font" style="font-size: 1.2rem"
                        >{{ key }} : {{ author }}</a></h2>
                    {% endfor %}
                </div>
                <div class="product-cat my-2 scrollbar-juicy-peach text-muted"
                     style="height: 50px; overflow: auto; opacity: 90%">
                    <a>{% if volume.product.demographics %}{{ volume.product.demographics|remove_brackets }}
                        | {% endif %}
                        {% if volume.product.themes %}{{ volume.product.themes|remove_brackets }} | {% endif %}
                        {% if volume.product.genres %}{{ volume.product.genres|remove_brackets }}{% endif %}</a>
                </div><!-- End .product-cat -->
                <div class="ratings-container ratings-container-sm row align-items-center justify-content-center">

                    <div class="col-6">
                        <div>{% score_filter volume.product.score %}</div><!-- End .ratings-val -->
                    </div><!-- End .ratings -->
                    <div class="col-6">
                        <div>
                            <div>
                                <span class="ratings-text text-muted force-rtl arabic-font">{% if volume.type == 'Package' %}
                                    المجلدات: {{ volume.start_volume }} - {{ volume.end_volume }}
                                {% else %}الفصول:
                                    {{ volume.start_chapter }} - {{ volume.end_chapter }} {% endif %}</span>
                            </div>
                        </div>
                    </div>
                </div><!-- End .rating-container -->
                <div class="row mb-1">
                    <div class="col-sm-7">
                        {% if volume.type == 'Inventory_Manga' %}
                            <input type="text" name="language_display" style="pointer-events: none;"
                                   value="{{ volume.get_language_display }}"
                                   class="form-control disabled" id="id_language_display">
                            <input type="hidden" name="language" style="pointer-events: none;"
                                   value="{{ volume.language }}"
                                   class="form-control disabled" id="id_language">
                        {% elif volume.type == 'Volume' %}
                            {% if volume.language == 'BOTH' %}
                                {{ form.language }}
                            {% else %}
                            <input type="text" name="language_display" style="pointer-events: none;"
                                   value="{{ volume.get_language_display }}"
                                   class="form-control disabled" id="id_language_display">
                            <input type="hidden" name="language" style="pointer-events: none;"
                                   value="{{ volume.language }}"
                                   class="form-control disabled" id="id_language">
                            {% endif %}
                        {% else %}
                            {{ form.language }}
                        {% endif %}
                    </div>
                    <div class="col-sm-5">
                        {% if volume.type == 'Inventory_Manga' %}
                            <input class="form-control qty" type="number" id="qty"
                                   min="1" max="{{ volume.quantity }}" step="1" data-decimals="0"
                                   name="quantity" value="1"
                            >
                        {% else %}
                            {{ form.quantity }}
                        {% endif %}
                    </div>
                </div>
                <div class="product-price">
                    <div style="display: flex; align-items: center;">
                        <input type="hidden" name="price" id="price_id" value="{{ volume.price.amount }}">
                        <input type="text"
                               style="pointer-events: none; width: 50px;"
                               value="{{ volume.price.amount | arabic_intcomma }}">
                        <span>IQD</span>
                    </div>
                </div><!-- End .product-price -->
            </div><!-- End .product-body -->
        </div><!-- End .product -->

    </form>

</div>