    {% extends 'abstract/_base.html' %}
{% load static %}
{% block content %}
<main class="main">
            <div class="intro-section pt-lg-2">
                <div class="container">
                    {% include 'abstract/includes/ad_page.html' with adA=adA adB=adB abC=abC adD=adD %}
</div><!-- End .container -->

{% include 'abstract/includes/features.html' %}

{% include 'abstract/includes/best_seller.html' %}
{% include 'abstract/includes/new_relases.html' %}
            </div>
        </main><!-- End .main -->
    </div>
{% endblock %}